$gray-100: #F8F9FA;
$gray-200: #E9ECEF;
$gray-300: #DEE2E6;
$gray-400: #CED4DA;
$gray-500: #ADB5BD;
$gray-600: #6C757D;
$gray-700: #495057;
$gray-800: #343A40;
$gray-900: #212529;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap'); // COlOR
$color_button: #FF7400;
$color_main_text: #D67E34;
$color_over_text: #BC9060;
$color_box_text: #656363;
$white: #FFFFFF;
$black: #000000;
$font_nav: 14px;
$font_text_nav: 'Open Sans';
$font_text: 'Tinos'; /* header
=================*/

.color {
  background-color: $gray-600;
}
.carousel-item{
  width: 900px;
}
/* LINE
=================*/
.main_photo{
 background-image: url("photo/dress.jpg");
 background-color: #cccccc;
}
.line {
  margin-top: 13px;
  width: 35px;
  height: 0;
  border: 1px solid #000000;
  transform: rotate(90deg);
}
/* NAV
=================*/
.collapse{
  margin-bottom: -5px;
  margin-top: 10px;
}

.nav__link {
  margin-left: 5px;
  font-size: $font_nav;
  font-family: $font_text_nav;
  color: $white;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.2s;
  padding: 3px;
}

.navbar-brand {
  color: $gray-900;
  font-weight: 800;
}
/* PHONE__NUMBER
=================*/
.phone__number {
  margin-left: 3px;
  color: $white;
  font-family: $font_text_nav;
  font-weight: 700;
  font-size: 12px;
}
/* BUY__BUTTON
=================*/
.btn{
  margin-left: 905px;
  width: 132px;
  border: none;
}
.btn-2{
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s
}
/* BACK__ING
=================*/
.text_inro {
  margin-top: -90px;
  margin-left: -170px;
}

.intro__text__1 {
  margin-top: 192px;
  margin-left: 799px;
  font-size: 158px;
  font-family: $font_text;
  font-weight: 400;
  color: $gray-900;
}
/* BOX
=================*/
.box {
  margin-left: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.mini__box {
  margin-top: 160px;
  margin-right: 100px;
  width: 349px;
  height: 328px;
  background-color: $gray-300;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  transition: 0.4s;;
  border-radius: 60px 10px;
}

/* BOX_MINI
 =================*/
.mini__box__main {
  margin-top: 30px;
  text-align: center;
  color: $black;
  font-family: $font_text;
  font-size: 26px;
  font-weight: 400;
}

.mini__box__secondary {
  margin-top: 20px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  color: $color_box_text;
  font-family: $font_text;
  font-size: 16px;
  font-weight: 400;
}
/* FOOD__ITEM
=================*/

.main_photo {
  background-image: url();
  margin-left: 700px;
  margin-top: -420px;
  display: flex;
  flex-direction: row;
}
.push{
  color: currentColor;
  opacity: 0.5;
  text-decoration: none;
}
